<?xml version="1.0" encoding="UTF-8"?>
<suite name="Google Test Suite" verbose="1" preserve-order="true" parallel="none">

 <test name="Google Tests" >
  <parameter name="browserName" value="Chrome"/>
     <parameter name="emailSend" value="dinhducthanh91@gmail.com"/>
      <parameter name="passwordEmailSend" value="ngoctrinh"/>
     <parameter name="emailTo" value="jslucifer.photography@gmail.com"/>
     <parameter name="passwordEmailTo" value="DucThanh1991"/>
    <classes>
      <class name="google.GoogleTestsDesktop"/>
    </classes>
 </test>
</suite>
